{% extends 'base.html' %} {# this imports the base.html in as a template #}
{% block title %} {# this is the opening tage for adding the title #}
Quiz cats
{% endblock %}  {# this is the closing tag for the title #}

{% block content %}


<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<!-- Does the google maps api for the background -->
<!--<div id="map" style="width:1600px;height:600px;background:white"></div>-->
<div id="map" style="width:1600px;height:600px;background:white"></div>

<script src="/static/appMap.js"></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChk9BH1LKywmR-_dzUhR80ZFJ02X8gjME&callback=appMap"></script>



<!-- User session ID data -->
<meta id="userSessionID" data-name="uSID" data-other="{{g.user.id}}">
<script>var userID = $('#userSessionID').data().other;</script>

<!-- Socket setup -->
<script>
    console.log(userID)
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    console.log("Socket?");

    var locationObj = {};

    function addTimer() {
        window.setInterval(geolocateUser, 5000);
    };

function geolocateUser() {
    console.log("geolocateUser");
    console.log("userID : ", userID);
    navigator.geolocation.getCurrentPosition(function (position) {
        locationObj.uid = userID;
        locationObj.latitude = position.coords.latitude;
        locationObj.longitude = position.coords.longitude;
        sendLocation()
    });
}

    //console.log("Getting to sendLocation");



</script>

<script src="/static/socketHandler.js"></script>
<script>
    addTimer();
</script>
<script>
    $(document).ready(function() {
        var classname = document.getElementsByClassName("answer");
        console.log(classname);
        for (var i = 0; i < classname.length; i++) {
            classname[i].addEventListener('click', function() {
                //console.log("this.id : ", this.id);
                emitAnswer(this.id)
            })
        }
    });
</script>
    //var v = document.getElementbyId("answer0");
    //v.addEventListener("click", emitAnswer);
{#    this is how you end the content block #}
{% endblock %}
