{% extends 'base.html' %} {# this imports the base.html in as a template #}
{% block title %} {# this is the opening tage for adding the title #}
Quiz cats
{% endblock %}  {# this is the closing tag for the title #}

{% block content %}


<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<!-- Does the google maps api for the background -->
<!--<div id="map" style="width:1600px;height:600px;background:white"></div>-->
<div id="map" style="width:1600px;height:600px;background:white"></div>

<script src="/static/appMap.js"></script>
<script>
    var buildings = [];
    var buildingPolygons = [];
    console.log("type of buildings : ", Array.isArray(buildings));
    console.log("Getting buildings.json");

    $.getJSON("/static/buildings.json", function(obj) {
        console.group("jQuery : getJSON /static/buildings.json [app.html]");
        console.log("obj : ", obj);
        coordsLoaded(obj);
        console.groupEnd();
    });
    console.log("Ever worked?");
</script>

<script>
    var map, lastValidCenter, allowedBounds;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChk9BH1LKywmR-_dzUhR80ZFJ02X8gjME&libraries=geometry&callback=appMap"></script>
<script>
    allowedBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(29, -99), 
        new google.maps.LatLng(31, -97)
    );
</script>



<!-- User session ID data -->
<meta id="userSessionID" data-name="uSID" data-other="{{g.user.id}}">
<script>var userID = $('#userSessionID').data().other;</script>


<!-- Socket setup -->
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    var locationObj = {};
    var lastLocation = null;

    function addTimer() {
        window.setInterval(geolocateUser, 15000);
    };

    function geolocateUser() {
        console.log(" === geolocateUser ===");
        navigator.geolocation.getCurrentPosition(function (position) {
            map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));

            locationObj.uid = userID;
            locationObj.latitude = position.coords.latitude;
            locationObj.longitude = position.coords.longitude;

            //locationObj.building = getBuilding(position)<------------------------------------------------
            updateLocation()
        });
    }

    function coordsLoaded(obj) {
        console.group("coordsLoaded [app.html]");
        addBuildings(obj);
        requestState();
        console.groupEnd();
    };

</script>

<script src="/static/socketHandler.js"></script>

<script>

</script>

<!-- Sets up the listener for click events on the answer objects to emit to the server -->
<script>
    $(document).ready(function() {
        var classname = document.getElementsByClassName("answer");
        for (var i = 0; i < classname.length; i++) {
            classname[i].addEventListener('click', function() {
                emitAnswer(this.id)
            })
        }
    });
</script>

{#    this is how you end the content block #}
{% endblock %}
