
{% extends 'base.html' %}
{% block title %}
Leaderboards
{% endblock %}

{%  block content %}
<div class = "Leaders">

    <h3>Leader Board</h3>
    <ol>
    {%for X in winnerCircle%}
            <li>{{ X.user_name}}--{{ X.Score }}</li>
            {% endfor %}
    </ol>
</div>

    <style>
    .Leaders {
        color: white;
        position: relative;
        margin-top: 10%;
        margin-left: 20%;
        align-content: center;
        padding-left: 150px;
        }
    body{
        background-attachment: fixed;
        background-position: center;
        background: red; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-repeating-radial-gradient(maroon, black 10%, gold 15%);
  /* For Opera 11.6 to 12.0 */
  background: -o-repeating-radial-gradient(maroon, black 10%, gold 15%);
  /* For Firefox 3.6 to 15 */
  background: -moz-repeating-radial-gradient(maroon, black 10%, gold 15%);
  /* Standard syntax */
  background: repeating-radial-gradient(maroon, black 10%, gold 15%);
}
    }</style>

{%  endblock %}

