
{% extends 'base.html' %}
{% block title %}
Leaderboards
{% endblock %}

{%  block content %}
<div class = "Leaders">

    <h3>Leader Board</h3>
    <ol>
    {%for X in winnerCircle%}
            <li>{{ X.user_name}}--{{ X.Score }}</li>
            {% endfor %}
    </ol>
</div>

    <style>
    .Leaders {
        font-weight: bold;
        color: white;
        position: relative;
        margin-top: 10%;
        margin-left: 20%;
        align-content: center;
        }
    body{
        background-attachment: fixed;
        background-position: center;
        background-color: #4b261d;
        /* IE9, iOS 3.2+ */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM4ZDczNGEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUwMTIxNCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzUwMTIxNCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNzUiLz48c3RvcCBzdG9wLWNvbG9yPSIjOGQ3MzRhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
        background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(141, 115, 74)),color-stop(0.25, rgb(80, 18, 20)),color-stop(0.5, rgb(0, 0, 0)),color-stop(0.75, rgb(80, 18, 20)),color-stop(1, rgb(141, 115, 74)));
        /* Android 2.3 */
        background-image: -webkit-repeating-linear-gradient(top left,rgb(141, 115, 74) 0%,rgb(80, 18, 20) 25%,rgb(0, 0, 0) 50%,rgb(80, 18, 20) 75%,rgb(141, 115, 74) 100%);
         /* IE10+ */
        background-image: repeating-linear-gradient(to bottom right,rgb(141, 115, 74) 0%,rgb(80, 18, 20) 25%,rgb(0, 0, 0) 50%,rgb(80, 18, 20) 75%,rgb(141, 115, 74) 100%);
        background-image: -ms-repeating-linear-gradient(top left,rgb(141, 115, 74) 0%,rgb(80, 18, 20) 25%,rgb(0, 0, 0) 50%,rgb(80, 18, 20) 75%,rgb(141, 115, 74) 100%);
        }
    </style>

{%  endblock %}

