{% extends 'base.html' %}
{% block title %}Sign Up {% endblock %}


<center>
{# Begin the page content#}
{% block content %}

<div class="signup_forms">
    <h3>Sign up</h3>
    {% if state != 'good' %}{# detect if we need to show the error message #}
        <p class="error">Invalid user name or password.</p>
        <p class="error">{{ state }}</p>
    {% endif %}

{#    name= needs to be included in the inputs on a form, that is how we know what data to recieve#}
<form action="/signup" class="pure-form pure-form-aligned" method="POST">
{#    <input type="hidden" name="url" value="{{ request.args.url }}">#}
    <fieldset>
         <div class="pure-control-group">

         </div>
        <div class="pure-control-group">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Username" name="username">
        </div>
        <div class="pure-control-group">
            <label for="password1">Password</label>
            <input id="password1" type="password" placeholder="Password" name="password1">
        </div>
        <div class="pure-control-group">
            <label for="password2">Retype Password</label>
            <input id="password2" type="password" placeholder="Password" name="password2">
        </div>
        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="Email Address" name="email">
        </div>
        {# TODO add team selection #}
        <div>
         <label for="team_options">Select Team</label>
            <select id="team_options" name="team_ops">
                <option value="Maroon">Maroon</option>
                <option value="Black">Black</option>
                <option value="Gold">Gold</option>
            </select>
        </div>
        <div>
            <h4>Optional Information</h4>
            <label for="bio">Bio</label>
                <textarea type="text" id="bio" name="bio" placeholder="Tell The World about YOU!"></textarea>
            <label for="major">Major</label>
                <textarea type="text" id="major" name="major" placeholder="What do you study>"></textarea>
        </div>
        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> I've read the terms and conditions
            </label>

        </div>
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
</form></center>
</div>

    <style>.signup_forms {
    align-content: center;
}</style>
{% endblock %}