<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

    <title>APP NAME</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">


    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../static/side-menu.css">
    <!--<![endif]-->


</head>
<body>


<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">APP NAME</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-l.nk">Home</a></li>
                <li class="pure-menu-item"><a href="/teams" class="pure-menu-link">Teams</a></li>

                <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                    <a href="/users" class="pure-menu-link">Users</a>
                </li>

                <li class="pure-menu-item"><a href="/user/{% uid %}" class="pure-menu-link">Profile</a></li>
            </ul>
        </div>
    </div>

</div>

<center>
    <h3>Sign up</h3>
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Username">
        </div>

        <div class="pure-control-group">
            <label for="password1">Password</label>
            <input id="password1" type="password" placeholder="Password">
        </div>

        <div class="pure-control-group">
            <label for="password2">Retype Password</label>
            <input id="password2" type="password" placeholder="Password">
        </div>

        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="Email Address">
        </div>

        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> I've read the terms and conditions
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form></center>

<script src="/static/ui.js"></script>
</body>
</html>