{% extends 'base.html' %}

{% block content %}






  <div class = "Team">
    <h1>Team{{teamInfo.name}}</h1>
    <h2>Roster</h2>
    <ul>
        {% for X in rooster %}
        <li><a href = "/users/{{ X.id }}">{{ X.user_name }}</a></li>
        {% endfor %}
    </ul>
  </div>




    <style>

        body{

            background-attachment: fixed;
            background-position: center;
            background: aqua; /* For browsers that do not support gradients */
            background: -webkit-radial-gradient(black 5%, gold 15%, maroon 60%); /* Safari 5.1-6.0 */
            background: -o-radial-gradient(black 5%, gold 15%, maroon 60%); /* For Opera 11.6 to 12.0 */
            background: -moz-radial-gradient(black 5%, gold 15%, maroon 60%); /* For Firefox 3.6 to 15 */
            background: radial-gradient(black 5%, gold 15%, maroon 60%); /* Standard syntax (must be last) */
        }

        .Team {
            margin-top: 10%;
            margin-left: 20%;
            padding-left: 150px;
            align-content: center;
        }
        u1{
            font-size: medium;
        }
        @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
        }</style>

{% endblock %}