<!-- This file is intented for team information. Things like points, area controlled and member list -->



{% extends 'base.html' %}

{%  block content %}
<div class = "Teams">
    <h1><b>Team info</b></h1>
    <div class="pure-g">
        <div id="teamNeutral" class="pure-u-1 pure-u-md-1-3">
            {% for team in teamobj %}
                {% if team.id == 1 %}

                {% elif team.id == 2 %}
                    <div id="teamMaroon" class="pure-u-1 pure-u-md-1-3">
                    <h3><b><a href="/team/{{ team.id }}">Team {{ team.name }}</a></b></h3>
                    <p class = "Points">Points:{{ team.score }}</p>
                    <p>Buildings Captured: </p>
                    {%for X in maroon%}
                        <li>{{ X.name }}</li>
                    {% endfor %}
                    </div>
                {% elif team.id == 4 %}
                    <div id="teamGold" class="pure-u-1 pure-u-md-1-3">
                    <h3><b><a href="/team/{{ team.id }}">Team {{ team.name }}</a></b></h3>
                    <p class = "Points">Points:{{ team.score }}</p>
                    <p>Buildings Captured: </p>
                    {% for X in gold %}
                        <li>{{ X.name }}</li>
                    {% endfor %}
                    </div>
                {% elif team.id == 3 %}
                    <div id="teamBlack" class="pure-u-1 pure-u-md-1-3">
                    <h3><b><a href="/team/{{ team.id }}">Team {{ team.name }}</a></b></h3>
                    <p class = "Points">Points:{{ team.score }}</p>
                    <p>Buildings Captured</p>
                    {% for X in black %}
                        <li>{{ X.name }}</li>
                    {% endfor %}
                    </div>
                {% else %}
                {% endif %}
            {%endfor %}
        </div>
    </div>
</div>

<style>

    .Teams {
        /*overflow: scroll;*/
        font-weight: bold;
        position: relative;
        margin-top: 10%;
        margin-left: 20%;
        align-content: center;
        font-family: Monotype Corsiva, cursive;  }

    body {

        background: red; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, rgba(80, 18, 20, 0), rgba(80, 18, 20, 1)); /*Safari 5.1-6*/
        background: -o-linear-gradient(right, rgba(80, 18, 20, 0), rgba(80, 18, 20, 1)); /*Opera 11.1-12*/
        background: -moz-linear-gradient(right, rgba(80, 18, 20, 0), rgba(80, 18, 20, 1)); /*Fx 3.6-15*/
        background: linear-gradient(to right, rgba(80, 18, 20, 0), rgba(80, 18, 20, 1)); /*Standard*/
     }



    .Teams .pure-g #teamMaroon a{

            color: white;
        }
    .Teams .pure-g #teamMaroon {
        background-color: rgba(80,18,20,0.6);
        color: white;
    }

    .Teams .pure-g #teamMaroon .Points li{
        background-color: rgba(80, 18, 20,0.8);
        color: white;  }

    .Teams .pure-g #teamGold a {

        color: rgb(255,189,0);  }

    .Teams .pure-g #teamGold .Points li{
        background-color: rgba(141, 115, 70, 0.8);
        color: rgb(255,189,0);}
    .Teams .pure-g #teamGold  {
        background-color: rgba(141, 115, 70 ,.6);
        color: rgb(255,189,0);}

     .Teams .pure-g #teamBlack a {
        color: rgb(5,227,253);  }
    .Teams .pure-g #teamBlack .Points li{
        background-color: rgba(0, 0, 0,.8);
        color: rgb(5,227,253);}
    .Teams .pure-g #teamBlack  {
        background-color: rgba(0, 0, 0, .6);
        color: rgb(5,227,253);}


</style>




{%  endblock %}