{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE HTML>
<html>
  <head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <canvas id="myCanvas" width="450" height="900"></canvas>
    <script>
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');
      context.rect(5, 5, canvas.width, canvas.height);

      // add linear gradient
      var grd = context.createLinearGradient(0, 0, canvas.width, canvas.height);
      // light blue
      grd.addColorStop(0, '#8ED6FF');
      // dark blue
      grd.addColorStop(1, '#004CB3');
      context.fillStyle = grd;
      context.fill();
    </script>
  <div class = "Team">
    <h1>Team{{teamInfo.name}}</h1>
    <h2>Roster</h2>
    <ul>
        {% for X in rooster %}
        <li><a href = "/users/{{ X.id }}">{{ X.user_name }}</a></li>
        {% endfor %}
    </ul>
    </div>
  </body>
</html>

    <style>
    .Team  {
        position: relative;
        margin-top: 10%;
        margin-left: 20%;
        align-content: center;

    }</style>

{% endblock %}