{% extends 'base.html' %}
{% block title %} {{userInfo.user_name}}'s Profile {% endblock %} }
{%  block content %}

<div style="text-align: center;">

    <div class = "teams">
        <h1>{{ userInfo.user_name }}'s Profile</h1>
        <h2>Team {{ userInfo.team }}</h2>
        <h4>Points:{{ userInfo.Score }}</h4>
        <h4>Questions Correct:{{ userInfo.q_correct }}</h4>
        <h4>Total Questions Seen: {{ userInfo.q_total }}</h4>
        <h2>About me</h2>
        <h4>Major</h4><p>{{userInfo.major}}</p>
        <p>{{ userInfo.user_profile_text }}</p>
    </div>
</div>

<style>.teams{
    position: relative;
    margin-top: 10%;
    margin-left: 15%;
    align-content: center;  }
</style>


{%  endblock %}

