<!-- This page should be used to format individual user profiles. Currently, it just displays the user's name. -->

{% extends 'base.html' %}

{%  block content %}
<div class = "teams">
    <h2>{{ userInfo.user_name }}'s Page</h2>
    <h4>{{ userInfo.email }}</h4>

    <h3>Questions Aswered correctly: {{ userInfo.q_correct }}</h3>
    <h3>Total Questions attempted: {{ userInfo.q_total }}</h3>
    <h3>{{ userInfo.user_name }}'s score: {{ userInfo.score }}</h3>

</div>

<style>.teams{
    position: relative;
    margin-top: 10%;
    margin-left: 20%;
    align-content: center;

} </style>
{%  endblock %}

